body {
	background-image: url(https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/A695AAEC367B6FBF56A8527CE752D42AE8473A85983B8928EA4E514C571D744E/scale?width=1200&aspectRatio=1.78&format=jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
	background-attachment: fixed;
}